.shop h1 {
  margin-block-end: 2rem;
}

.shop__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.shop__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  border-radius: 15px;

  padding: 1rem;
}

.shop__title {
  font-weight: 600;
  margin-block-end: 1.5rem;
}

.shop__image-container {
  height: 250px;
  margin-block-end: 1rem;
}

.shop__image-container img {
  max-height: 100%;
}

.shop__price {
  font-weight: 600;
  margin-block-end: 1rem;
  font-size: 1.2rem;
}

.shop__link {
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: 0.5s;
}

.shop__link:hover {
  color: black;
  background-color: white;
}
