header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  padding-block: 1rem 4rem;
}

header nav {
  display: flex;
  gap: 1.5rem;
}

header svg {
  width: 45px;
}
