.details {
  margin-block-end: 3rem;
}

.details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.details__title {
  font-size: 2rem;
  width: 80%;
  margin-block-end: 4rem;
}

.details__image {
  width: 400px;
  margin-block-end: 4rem;
}

.details__price {
  font-weight: 600;
  font-size: 1.1rem;
  margin-block-end: 1rem;
}

.details__description {
  width: 80%;
  line-height: 1.4;
  margin-block-end: 1rem;
}

.details__link {
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: 0.5s;
}

.details__link:hover {
  color: black;
  background-color: white;
}
